article.article
  .article__inner
    img.article__img(src=card.src, alt=card.alt)
  .article__text
    a.article__link(href="article.html")= card.link
    p.article__date= card.date
      a.article__author(href="author.html")= card.author
