mixin facebook
  svg.svg-inline--fa.fa-facebook-f.fa-w-10(
    xmlns="http://www.w3.org/2000/svg",
    width="18",
    height="18",
    aria-hidden="true",
    focusable="false",
    data-prefix="fab",
    data-icon="facebook-f",
    role="img",
    viewbox="0 0 320 512"
  )
    path(
      fill="currentColor",
      d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
    )
mixin instagram
  svg.svg-inline--fa.fa-instagram.fa-w-14(
    xmlns="http://www.w3.org/2000/svg",
    width="18",
    height="18",
    aria-hidden="true",
    focusable="false",
    data-prefix="fab",
    data-icon="instagram",
    role="img",
    viewbox="0 0 448 512"
  )
    path(
      fill="currentColor",
      d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
    )
mixin vk
  svg.svg-inline--fa.fa-vk.fa-w-18(
    xmlns="http://www.w3.org/2000/svg",
    width="18",
    height="18",
    aria-hidden="true",
    focusable="false",
    data-prefix="fab",
    data-icon="vk",
    role="img",
    viewbox="0 0 576 512"
  )
    path(
      fill="currentColor",
      d="M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z"
    )
mixin twitter
  svg.svg-inline--fa.fa-twitter.fa-w-16(
    aria-hidden="true",
    width="18",
    height="18",
    focusable="false",
    data-prefix="fab",
    data-icon="twitter",
    role="img",
    xmlns="http://www.w3.org/2000/svg",
    viewbox="0 0 512 512"
  )
    path(
      fill="currentColor",
      d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
    )
mixin telegram
  svg.svg-inline--fa.fa-telegram-plane.fa-w-14(
    xmlns="http://www.w3.org/2000/svg",
    width="18",
    height="18",
    aria-hidden="true",
    focusable="false",
    data-prefix="fab",
    data-icon="telegram-plane",
    role="img",
    viewbox="0 0 448 512"
  )
    path(
      fill="currentColor",
      d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"
    )
mixin search
  svg.search__icon(
    width="20",
    height="20",
    viewbox="0 0 20 20",
    xmlns="http://www.w3.org/2000/svg"
  )
    path(
      fill="#ffffff",
      d="M19.3359 18.2109L14.7344 13.6094C15.875 12.2188 16.5625 10.4375 16.5625 8.49609C16.5625 4.04297 12.9492 0.429688 8.49609 0.429688C4.03906 0.429688 0.429688 4.04297 0.429688 8.49609C0.429688 12.9492 4.03906 16.5625 8.49609 16.5625C10.4375 16.5625 12.2148 15.8789 13.6055 14.7383L18.207 19.3359C18.5195 19.6484 19.0234 19.6484 19.3359 19.3359C19.6484 19.0273 19.6484 18.5195 19.3359 18.2109ZM8.49609 14.957C4.92969 14.957 2.03125 12.0586 2.03125 8.49609C2.03125 4.93359 4.92969 2.03125 8.49609 2.03125C12.0586 2.03125 14.9609 4.93359 14.9609 8.49609C14.9609 12.0586 12.0586 14.957 8.49609 14.957Z"
    )
mixin closeBurger
  svg.closeBurger(
    width="9",
    height="9",
    viewbox="0 0 9 8",
    fill="none",
    xmlns="http://www.w3.org/2000/svg"
  )
    path(
      d="M0.709913 7.78978C0.849854 7.92993 1.03061 8 1.2172 8C1.40379 8 1.58455 7.92993 1.72449 7.78978L4.5 5.01022L7.27551 7.78978C7.41545 7.92993 7.59621 8 7.7828 8C7.96939 8 8.15015 7.92993 8.29009 7.78978C8.56997 7.50949 8.56997 7.05985 8.29009 6.77956L5.50292 4L8.27843 1.22044C8.55831 0.940146 8.55831 0.490511 8.27843 0.210219C7.99854 -0.070073 7.54956 -0.070073 7.26968 0.210219L4.49417 2.98978L1.71866 0.210219C1.43878 -0.070073 0.989796 -0.070073 0.709913 0.210219C0.430029 0.490511 0.430029 0.940146 0.709913 1.22044L3.48542 4L0.709913 6.77956C0.430029 7.05985 0.430029 7.50949 0.709913 7.78978Z",
      fill="white"
    )
mixin dotsBurger
  svg.dotsBurger(
    width="13",
    height="12",
    viewbox="0 0 13 12",
    fill="none",
    xmlns="http://www.w3.org/2000/svg"
  )
    path(
      d="M6.50022 2.62136C7.1222 2.62136 7.62641 2.11714 7.62641 1.49516C7.62641 0.873174 7.1222 0.368958 6.50022 0.368958C5.87824 0.368958 5.37402 0.873174 5.37402 1.49516C5.37402 2.11714 5.87824 2.62136 6.50022 2.62136Z",
      fill="white"
    )
    path(
      d="M11.0051 2.62136C11.6271 2.62136 12.1313 2.11714 12.1313 1.49516C12.1313 0.873174 11.6271 0.368958 11.0051 0.368958C10.3831 0.368958 9.87891 0.873174 9.87891 1.49516C9.87891 2.11714 10.3831 2.62136 11.0051 2.62136Z",
      fill="white"
    )
    path(
      d="M1.99534 2.62136C2.61732 2.62136 3.12153 2.11714 3.12153 1.49516C3.12153 0.873174 2.61732 0.368958 1.99534 0.368958C1.37336 0.368958 0.869141 0.873174 0.869141 1.49516C0.869141 2.11714 1.37336 2.62136 1.99534 2.62136Z",
      fill="white"
    )
    path(
      d="M6.50022 7.12617C7.1222 7.12617 7.62641 6.62195 7.62641 5.99997C7.62641 5.37799 7.1222 4.87378 6.50022 4.87378C5.87824 4.87378 5.37402 5.37799 5.37402 5.99997C5.37402 6.62195 5.87824 7.12617 6.50022 7.12617Z",
      fill="white"
    )
    path(
      d="M11.0051 7.12617C11.6271 7.12617 12.1313 6.62195 12.1313 5.99997C12.1313 5.37799 11.6271 4.87378 11.0051 4.87378C10.3831 4.87378 9.87891 5.37799 9.87891 5.99997C9.87891 6.62195 10.3831 7.12617 11.0051 7.12617Z",
      fill="white"
    )
    path(
      d="M1.99534 7.12617C2.61732 7.12617 3.12153 6.62195 3.12153 5.99997C3.12153 5.37799 2.61732 4.87378 1.99534 4.87378C1.37336 4.87378 0.869141 5.37799 0.869141 5.99997C0.869141 6.62195 1.37336 7.12617 1.99534 7.12617Z",
      fill="white"
    )
    path(
      d="M6.50022 11.631C7.1222 11.631 7.62641 11.1268 7.62641 10.5049C7.62641 9.88288 7.1222 9.37866 6.50022 9.37866C5.87824 9.37866 5.37402 9.88288 5.37402 10.5049C5.37402 11.1268 5.87824 11.631 6.50022 11.631Z",
      fill="white"
    )
    path(
      d="M11.0051 11.631C11.6271 11.631 12.1313 11.1268 12.1313 10.5049C12.1313 9.88288 11.6271 9.37866 11.0051 9.37866C10.3831 9.37866 9.87891 9.88288 9.87891 10.5049C9.87891 11.1268 10.3831 11.631 11.0051 11.631Z",
      fill="white"
    )
    path(
      d="M1.99534 11.631C2.61732 11.631 3.12153 11.1268 3.12153 10.5049C3.12153 9.88288 2.61732 9.37866 1.99534 9.37866C1.37336 9.37866 0.869141 9.88288 0.869141 10.5049C0.869141 11.1268 1.37336 11.631 1.99534 11.631Z",
      fill="white"
    )
mixin logowhite
  svg#logowhite.header__logo-submain(
    width="102",
    height="44",
    viewbox="0 0 102 44",
    fill="none",
    xmlns="http://www.w3.org/2000/svg"
  )
    path(
      d="M26.521 25.174H0.957961C0.792731 25.174 0.634269 25.1084 0.517433 24.9915C0.400598 24.8747 0.334961 24.7162 0.334961 24.551C0.334961 24.3858 0.400598 24.2273 0.517433 24.1105C0.634269 23.9936 0.792731 23.928 0.957961 23.928H26.521C26.6862 23.928 26.8447 23.9936 26.9615 24.1105C27.0783 24.2273 27.144 24.3858 27.144 24.551C27.144 24.7162 27.0783 24.8747 26.9615 24.9915C26.8447 25.1084 26.6862 25.174 26.521 25.174V25.174Z",
      fill="white"
    )
    path(
      d="M58.9351 38.019L58.0511 38.829V43.392H56.5001V38.829H52.0101V43.392H50.4631V38.829L49.5791 38.019L50.4631 37.21V32.573H52.0101V37.21H56.5001V32.573H58.0471V37.21L58.9351 38.019Z",
      fill="white"
    )
    path(
      d="M68.291 34.192H63.429V37.283H67.26V38.829H63.429V43.392H61.882V38.829L60.998 38.019L61.882 37.21V32.573H68.291V34.192Z",
      fill="white"
    )
    path(
      d="M79.6364 38.019L78.7523 38.829V41.629L76.7634 43.395H72.9324L70.8694 41.629V38.829L69.9854 38.019L70.8694 37.21V34.339L72.9324 32.573H76.7634L78.7523 34.339V37.21L79.6364 38.019ZM77.2054 40.89V35.149L76.1003 34.192H73.6003L72.4954 35.149V40.89L73.6003 41.846H76.1003L77.2054 40.89Z",
      fill="white"
    )
    path(
      d="M90.6127 38.019L89.7287 38.829V41.629L87.6657 43.395H83.8347L81.7727 41.629V38.829L80.8887 38.019L81.7727 37.21V34.339L83.8347 32.573H87.6657L89.6547 34.339V37.21L90.6127 38.019ZM88.1127 40.89V35.149L86.9997 34.192H84.4997L83.3947 35.149V40.89L84.4997 41.846H86.9997L88.1127 40.89Z",
      fill="white"
    )
    path(
      d="M100.558 41.626L98.5686 43.392H92.8996V38.829L92.0156 38.019L92.8996 37.21V32.573H98.5716L100.561 34.339L100.558 41.626ZM98.9376 40.89V35.222L97.8316 34.266H94.4436V41.92H97.8316L98.9376 40.89Z",
      fill="white"
    )
    path(
      d="M9.43 38.019L8.546 38.829V43.392H7V38.829H2.505V43.392H0.884V38.829L0 38.019L0.884 37.21V32.573H2.431V37.21H6.925V32.573H8.472V37.21L9.43 38.019Z",
      fill="white"
    )
    path(
      d="M38.6763 43.392H32.1194V38.829L31.2354 38.019L32.1194 37.21V32.573H33.6664V41.773H38.6003V43.392H38.6763Z",
      fill="white"
    )
    path(
      d="M47.9592 34.192H44.7912V37.283L45.6752 38.093L44.7912 38.902V43.392H43.2442V38.829L42.3602 38.019L43.2442 37.21V34.118H40.0762V32.573H47.9592V34.192Z",
      fill="white"
    )
    path(
      d="M29.8363 43.392H28.2153L27.1843 40.669H22.7633L21.7323 43.392H20.1113L21.8063 38.829L21.0693 38.019L22.3953 37.357L24.1633 32.573H25.7843L29.8363 43.392ZM26.5943 39.123L24.9733 34.704L23.3533 39.12L26.5943 39.123Z",
      fill="white"
    )
    path(
      d="M18.7847 43.392H12.2287V38.829L11.3447 38.019L12.2287 37.21V32.573H18.7847V34.118H13.8487V37.21H17.6797V38.755H13.8487V41.773H18.7847V43.392Z",
      fill="white"
    )
    path(
      d="M26.5669 28.098C26.4157 27.0696 26.3395 26.0315 26.3389 24.992C26.3389 18.4963 28.9193 12.2667 33.5124 7.67354C38.1056 3.0804 44.3352 0.5 50.8309 0.5C57.3266 0.5 63.5562 3.0804 68.1493 7.67354C72.7425 12.2667 75.3229 18.4963 75.3229 24.992C75.3474 25.9828 75.2959 26.9741 75.1689 27.957L73.9369 27.767C74.0545 26.8469 74.1013 25.9192 74.0769 24.992C74.0366 18.8533 71.5698 12.9798 67.2148 8.65324C62.8598 4.32671 56.9702 1.89846 50.8314 1.89846C44.6926 1.89846 38.803 4.32671 34.448 8.65324C30.0929 12.9798 27.6261 18.8533 27.5859 24.992C27.5862 25.9726 27.658 26.9519 27.8009 27.922L26.5669 28.098Z",
      fill="white"
    )
    path(
      d="M96.7276 22.377H74.6996C74.5386 22.3706 74.3863 22.302 74.2746 22.1858C74.1629 22.0696 74.1006 21.9147 74.1006 21.7535C74.1006 21.5923 74.1629 21.4374 74.2746 21.3212C74.3863 21.205 74.5386 21.1365 74.6996 21.13H96.7276C96.8886 21.1365 97.0409 21.205 97.1526 21.3212C97.2643 21.4374 97.3266 21.5923 97.3266 21.7535C97.3266 21.9147 97.2643 22.0696 97.1526 22.1858C97.0409 22.302 96.8886 22.3706 96.7276 22.377V22.377Z",
      fill="white"
    )
    path(
      d="M47.335 27.704H50.218C50.229 27.413 50.242 27.123 50.242 26.832C50.316 25.802 50.316 24.771 50.39 23.741C50.316 23.814 50.316 23.814 50.316 23.888C49.338 25.144 48.335 26.426 47.335 27.704Z",
      fill="white"
    )
    path(
      d="M45.0479 27.704C45.4779 27.21 45.908 26.716 46.338 26.243C47.59 24.843 48.838 23.373 50.021 21.974L50.0999 21.904C49.9529 21.683 49.8 21.536 49.658 21.315C49.1812 20.7163 48.6643 20.1507 48.111 19.622C48.037 19.549 47.9629 19.475 47.8899 19.475H47.742V19.328C47.669 19.328 47.669 19.401 47.595 19.401V19.254C47.521 19.254 47.521 19.328 47.448 19.328V19.181C47.374 19.181 47.3739 19.254 47.3009 19.254V19.104H47.08V18.957C47.006 18.957 47.0059 18.957 46.9319 19.03V18.883C46.8589 18.883 46.859 18.957 46.785 18.957V18.81C46.711 18.81 46.711 18.81 46.638 18.883C46.638 18.81 46.6379 18.81 46.7109 18.736C46.6379 18.736 46.6379 18.736 46.5639 18.81V18.662H46.416V18.515H46.269C46.269 18.442 46.2689 18.442 46.3429 18.368H46.1899C46.1899 18.294 46.19 18.294 46.264 18.221H46.117C46.117 18.147 46.1169 18.147 46.1899 18.074H46.0429C46.0429 18 46.043 18 46.117 17.926H45.969C45.969 17.853 45.9689 17.853 46.0429 17.779C45.9689 17.779 45.969 17.779 45.896 17.853C45.896 17.779 45.969 17.779 45.969 17.706C45.896 17.706 45.8959 17.706 45.8219 17.779C45.8219 17.706 45.822 17.706 45.896 17.632H45.748V17.485H45.5999C45.5999 17.411 45.6 17.411 45.674 17.338H45.527C45.527 17.264 45.5999 17.264 45.5999 17.19C45.5269 17.19 45.5269 17.19 45.4529 17.264C45.4529 17.19 45.453 17.19 45.527 17.117H45.38C45.38 17.043 45.3799 17.043 45.4539 16.97H45.3069C45.3069 16.896 45.307 16.896 45.38 16.822H45.233C45.233 16.749 45.2329 16.749 45.3069 16.675H45.1589C45.1589 16.602 45.233 16.602 45.233 16.528H45.0849C45.0849 16.454 45.0849 16.454 45.1589 16.381H45.012C45.012 16.307 45.0119 16.307 45.0849 16.234H44.9379C44.9457 16.1779 44.9717 16.1259 45.012 16.086H44.7909C44.7909 16.013 44.8639 16.013 44.8639 15.939H44.7169C44.7169 15.866 44.7169 15.866 44.7909 15.792H44.643C44.643 15.718 44.7169 15.718 44.7169 15.645H44.5699C44.5699 15.571 44.643 15.571 44.643 15.498H44.422C44.4308 15.4414 44.4582 15.3893 44.4999 15.35H44.2789C44.2789 15.277 44.353 15.277 44.353 15.203H44.2C44.2 15.13 44.2739 15.13 44.2739 15.056H44.1269C44.1269 14.982 44.2 14.982 44.2 14.909H43.9799C43.9799 14.835 44.054 14.835 44.054 14.762H43.907C43.907 14.688 43.9799 14.688 43.9799 14.614H43.7589C43.7589 14.541 43.8329 14.541 43.8329 14.467H43.6119C43.6119 14.394 43.686 14.394 43.686 14.32H43.5379C43.5379 14.246 43.6119 14.246 43.6119 14.173H43.4649C43.4649 14.099 43.5379 14.099 43.5379 14.026H43.3909C43.3909 13.952 43.4649 13.952 43.4649 13.878H43.317C43.317 13.805 43.3909 13.805 43.3909 13.731H43.2439L43.3909 13.584H43.2439L43.3909 13.437C43.3169 13.437 43.3169 13.437 43.2439 13.363L43.3909 13.216C43.3169 13.216 43.3169 13.216 43.2439 13.142L43.3909 12.995C43.3169 12.995 43.3169 12.922 43.2439 12.922L43.3909 12.774C43.3169 12.774 43.3169 12.774 43.2439 12.701L43.3909 12.554C43.3169 12.554 43.3169 12.48 43.2439 12.48L43.3909 12.333C43.3169 12.333 43.3169 12.259 43.2439 12.259C43.2836 12.2191 43.3352 12.1935 43.3909 12.186C43.3169 12.186 43.3169 12.112 43.2439 12.112C43.3169 12.038 43.3909 11.965 43.2439 11.965C43.2439 11.891 43.317 11.744 43.317 11.665C43.317 11.518 43.4649 11.445 43.6119 11.371C43.7484 11.3739 43.8791 11.4261 43.9799 11.518C44.4219 12.107 44.938 12.618 45.38 13.211C47.001 15.198 48.622 17.111 50.242 19.099C50.611 19.541 50.9789 20.056 51.3419 20.499C51.3419 20.573 51.416 20.573 51.49 20.647V20.347C51.49 19.611 51.563 18.875 51.563 18.066C51.5937 17.6899 51.544 17.3116 51.4171 16.9562C51.2902 16.6008 51.089 16.2765 50.827 16.005C50.5388 15.7015 50.268 15.382 50.0159 15.048C49.5199 14.3099 49.263 13.4371 49.2799 12.548C49.3246 11.0041 49.8963 9.52199 50.9 8.34801C51.056 8.18333 51.229 8.03551 51.416 7.90701C51.5524 7.7993 51.7211 7.74072 51.895 7.74072C52.0688 7.74072 52.2375 7.7993 52.374 7.90701C52.6547 8.11422 52.9027 8.36231 53.11 8.64301C53.971 9.76571 54.4604 11.129 54.5099 12.543C54.5401 13.6178 54.1731 14.6659 53.479 15.487C53.258 15.707 53.037 16.002 52.816 16.223C52.4385 16.6785 52.23 17.2505 52.226 17.842C52.226 18.725 52.2999 19.608 52.2999 20.491V20.565C52.3097 20.5653 52.3195 20.5636 52.3286 20.5599C52.3377 20.5563 52.346 20.5509 52.3529 20.544C52.3598 20.537 52.3653 20.5288 52.3689 20.5197C52.3725 20.5106 52.3742 20.5008 52.374 20.491C52.668 20.123 53.037 19.755 53.331 19.391C53.7462 18.8804 54.0253 18.2728 54.1419 17.625C54.3276 16.5185 54.8406 15.493 55.615 14.681C56.794 13.43 58.0459 12.181 59.2249 10.854L59.4459 10.633L59.519 10.707C59.446 10.78 59.446 10.854 59.372 10.927C58.783 11.737 58.193 12.473 57.604 13.283C57.31 13.724 56.941 14.092 56.646 14.534C56.573 14.681 56.425 14.828 56.352 14.975C56.3304 14.9971 56.3148 15.0243 56.3066 15.0541C56.2984 15.0839 56.298 15.1152 56.3053 15.1453C56.3126 15.1753 56.3274 15.2029 56.3483 15.2256C56.3693 15.2483 56.3956 15.2653 56.4249 15.275C56.4432 15.2889 56.4647 15.2981 56.4873 15.3019C56.51 15.3056 56.5332 15.3037 56.555 15.2964C56.5768 15.2891 56.5965 15.2766 56.6123 15.26C56.6282 15.2434 56.6397 15.2231 56.646 15.201C56.959 14.8737 57.2545 14.5298 57.5309 14.171C58.2669 13.288 59.0779 12.404 59.8139 11.521C59.8879 11.374 60.0349 11.3 60.1829 11.153C60.1927 11.1529 60.2023 11.1547 60.2113 11.1584C60.2203 11.1621 60.2284 11.1675 60.2352 11.1744C60.2421 11.1814 60.2474 11.1896 60.251 11.1986C60.2545 11.2076 60.2562 11.2173 60.256 11.227C60.183 11.3 60.183 11.448 60.109 11.521C59.888 11.821 59.6669 12.184 59.4459 12.478C58.7089 13.361 57.972 14.318 57.31 15.201C57.2199 15.3131 57.1456 15.4369 57.089 15.569C57.0674 15.5911 57.0518 15.6183 57.0436 15.6481C57.0354 15.6779 57.035 15.7092 57.0423 15.7393C57.0496 15.7693 57.0644 15.7969 57.0853 15.8196C57.1063 15.8423 57.1326 15.8593 57.1619 15.869C57.3099 15.942 57.383 15.869 57.462 15.795C57.83 15.353 58.125 14.985 58.493 14.544C59.156 13.734 59.819 12.925 60.556 12.115C60.643 11.9793 60.7724 11.876 60.924 11.821H61.0719V11.968C61.0201 12.0764 60.9596 12.1804 60.8909 12.279C60.5789 12.297 60.5289 12.389 60.4819 12.479C59.8189 13.362 59.23 14.245 58.567 15.129C58.125 15.717 57.683 16.38 57.167 16.969C56.679 17.618 56.0489 18.1465 55.325 18.514L54.441 18.956C53.8735 19.2773 53.393 19.7321 53.041 20.281C52.672 20.796 52.2299 21.311 51.8619 21.826L52.2299 22.194C53.9169 24.009 55.6109 25.875 57.3479 27.703H72.535C72.9344 24.6421 72.6762 21.5312 71.7776 18.5781C70.879 15.6249 69.3606 12.8975 67.324 10.5778C65.2873 8.25819 62.7792 6.39976 59.9672 5.12665C57.1551 3.85353 54.1037 3.19503 51.0169 3.1951C47.93 3.19517 44.8787 3.85382 42.0667 5.12706C39.2547 6.40031 36.7467 8.25885 34.7101 10.5786C32.6736 12.8983 31.1554 15.6258 30.2569 18.579C29.3584 21.5322 29.1004 24.6431 29.4999 27.704H45.0479Z",
      fill="white"
    )
    path(
      d="M52.2308 24.404C52.0807 24.1899 51.908 23.9924 51.7158 23.815V23.963C51.7778 25.2097 51.8402 26.457 51.9028 27.705H54.9698C54.0568 26.597 53.1438 25.489 52.2308 24.404Z",
      fill="white"
    )
    path(
      d="M100.485 25.174H74.9218C74.7566 25.174 74.5981 25.1084 74.4813 24.9915C74.3645 24.8747 74.2988 24.7162 74.2988 24.551C74.2988 24.3858 74.3645 24.2273 74.4813 24.1105C74.5981 23.9936 74.7566 23.928 74.9218 23.928H100.485C100.65 23.928 100.809 23.9936 100.925 24.1105C101.042 24.2273 101.108 24.3858 101.108 24.551C101.108 24.7162 101.042 24.8747 100.925 24.9915C100.809 25.1084 100.65 25.174 100.485 25.174V25.174Z",
      fill="white"
    )
    path(
      d="M26.7425 22.377H4.78945C4.62841 22.3705 4.47611 22.302 4.36445 22.1858C4.25279 22.0696 4.19043 21.9147 4.19043 21.7535C4.19043 21.5923 4.25279 21.4374 4.36445 21.3212C4.47611 21.2049 4.62841 21.1364 4.78945 21.13H26.7425C26.8264 21.1266 26.9102 21.1403 26.9888 21.1701C27.0674 21.1999 27.1391 21.2453 27.1997 21.3035C27.2604 21.3617 27.3086 21.4316 27.3415 21.5089C27.3744 21.5863 27.3914 21.6694 27.3914 21.7535C27.3914 21.8375 27.3744 21.9207 27.3415 21.998C27.3086 22.0754 27.2604 22.1452 27.1997 22.2035C27.1391 22.2617 27.0674 22.3071 26.9888 22.3369C26.9102 22.3667 26.8264 22.3803 26.7425 22.377V22.377Z",
      fill="white"
    )
mixin logo
  svg#logodesc.header__logo-main(
    width="138",
    height="63",
    viewbox="0 0 138 63",
    fill="none",
    xmlns="http://www.w3.org/2000/svg"
  )
    g(opacity="0.8", clip-path="url(#clip0)")
      path(
        d="M101.2 37.4001C101.4 36.1001 101.4 34.8001 101.4 33.5001C101.4 15.6001 86.8996 1.1001 68.9996 1.1001C51.0996 1.1001 36.5996 15.6001 36.5996 33.5001C36.5996 34.9001 36.6996 36.2001 36.8996 37.6001",
        stroke="url(#paint0_linear)",
        stroke-width="1.2467",
        stroke-miterlimit="10"
      )
      path(
        d="M69.1998 4.1001C52.8998 4.1001 39.7998 17.3001 39.7998 33.5001C39.7998 49.8001 52.9998 62.9001 69.1998 62.9001C85.3998 62.9001 98.6998 49.8001 98.6998 33.5001C98.6998 17.3001 85.4998 4.1001 69.1998 4.1001ZM82.0998 16.5001C81.1998 17.7001 80.3998 18.9001 79.4998 20.1001C78.8998 20.9001 78.2998 21.8001 77.5998 22.6001C76.8998 23.5001 76.0998 24.2001 75.0998 24.7001C74.6998 24.9001 74.2998 25.1001 73.8998 25.3001C73.0998 25.7001 72.4998 26.4001 71.9998 27.1001C71.4998 27.8001 70.8998 28.5001 70.3998 29.2001C70.5998 29.4001 70.6998 29.5001 70.8998 29.7001C73.4998 32.5001 76.0998 35.4001 78.7998 38.2001C78.9998 38.4001 79.1998 38.6001 79.2998 38.8001C79.6998 39.5001 79.3998 40.4001 78.6998 40.7001C78.0998 40.9001 77.5998 40.8001 77.1998 40.3001C75.0998 37.8001 72.9998 35.2001 70.8998 32.7001C70.6998 32.4001 70.4998 32.2001 70.1998 31.9001C70.1998 32.0001 70.1998 32.0001 70.1998 32.1001C70.2998 34.1001 70.3998 36.1001 70.4998 38.1001C70.4998 38.6001 70.4998 39.1001 70.4998 39.6001C70.4998 40.4001 69.7998 41.0001 68.9998 40.8001C68.4998 40.7001 68.0998 40.2001 68.0998 39.6001C68.0998 38.4001 68.1998 37.2001 68.1998 36.0001C68.2998 34.6001 68.2998 33.2001 68.3998 31.8001C68.2998 31.9001 68.2998 31.9001 68.2998 32.0001C66.1998 34.7001 63.9998 37.5001 61.8998 40.2001C61.4998 40.7001 61.0998 40.8001 60.4998 40.7001C59.7998 40.5001 59.1998 39.4001 59.8998 38.6001C60.8998 37.5001 61.8998 36.3001 62.8998 35.2001C64.5998 33.3001 66.2998 31.3001 67.8998 29.4001C67.8998 29.4001 67.8998 29.4001 67.9998 29.3001C67.7998 29.0001 67.5998 28.8001 67.3998 28.5001C66.6998 27.7001 66.0998 26.9001 65.2998 26.2001C65.1998 26.1001 65.0998 26.0001 64.9998 26.0001C64.9998 26.0001 64.8998 26.0001 64.7998 26.0001C64.7998 26.0001 64.7998 25.9001 64.7998 25.8001C64.6998 25.8001 64.6998 25.9001 64.5998 25.9001C64.5998 25.8001 64.5998 25.8001 64.5998 25.7001C64.4998 25.7001 64.4998 25.8001 64.3998 25.8001C64.3998 25.7001 64.3998 25.7001 64.3998 25.6001C64.2998 25.6001 64.2998 25.7001 64.1998 25.7001C64.1998 25.6001 64.1998 25.6001 64.1998 25.5001C63.9998 25.5001 63.8998 25.5001 63.8998 25.5001C63.8998 25.4001 63.8998 25.4001 63.8998 25.3001C63.7998 25.3001 63.7998 25.3001 63.6998 25.4001C63.6998 25.3001 63.6998 25.3001 63.6998 25.2001C63.5998 25.2001 63.5998 25.3001 63.4998 25.3001C63.4998 25.2001 63.4998 25.2001 63.4998 25.1001C63.3998 25.1001 63.3998 25.1001 63.2998 25.2001C63.2998 25.1001 63.2998 25.1001 63.3998 25.0001C63.2998 25.0001 63.2998 25.0001 63.1998 25.1001C63.1998 25.0001 63.1998 25.0001 63.1998 24.9001C63.0998 24.9001 63.0998 24.9001 62.9998 24.9001C62.9998 24.8001 62.9998 24.8001 62.9998 24.7001C62.8998 24.7001 62.8998 24.7001 62.7998 24.7001C62.7998 24.6001 62.7998 24.6001 62.8998 24.5001C62.7998 24.5001 62.7998 24.5001 62.6998 24.5001C62.6998 24.4001 62.6998 24.4001 62.7998 24.3001C62.6998 24.3001 62.6998 24.3001 62.5998 24.3001C62.5998 24.2001 62.5998 24.2001 62.6998 24.1001C62.5998 24.1001 62.5998 24.1001 62.4998 24.1001C62.4998 24.0001 62.4998 24.0001 62.5998 23.9001C62.4998 23.9001 62.4998 23.9001 62.3998 23.9001C62.3998 23.8001 62.3998 23.8001 62.4998 23.7001C62.3998 23.7001 62.3998 23.7001 62.2998 23.8001C62.2998 23.7001 62.3998 23.7001 62.3998 23.6001C62.2998 23.6001 62.2998 23.6001 62.1998 23.7001C62.1998 23.6001 62.1998 23.6001 62.2998 23.5001C62.1998 23.5001 62.1998 23.5001 62.0998 23.5001C62.0998 23.4001 62.0998 23.4001 62.0998 23.3001C61.9998 23.3001 61.9998 23.3001 61.8998 23.3001C61.8998 23.2001 61.8998 23.2001 61.9998 23.1001C61.8998 23.1001 61.8998 23.1001 61.7998 23.1001C61.7998 23.0001 61.8998 23.0001 61.8998 22.9001C61.7998 22.9001 61.7998 22.9001 61.6998 23.0001C61.6998 22.9001 61.6998 22.9001 61.7998 22.8001C61.6998 22.8001 61.6998 22.8001 61.5998 22.8001C61.5998 22.7001 61.5998 22.7001 61.6998 22.6001C61.5998 22.6001 61.5998 22.6001 61.4998 22.6001C61.4998 22.5001 61.4998 22.5001 61.5998 22.4001C61.4998 22.4001 61.4998 22.4001 61.3998 22.4001C61.3998 22.3001 61.3998 22.3001 61.4998 22.2001C61.3998 22.2001 61.3998 22.2001 61.2998 22.2001C61.2998 22.1001 61.3998 22.1001 61.3998 22.0001C61.2998 22.0001 61.2998 22.0001 61.1998 22.0001C61.1998 21.9001 61.1998 21.9001 61.2998 21.8001C61.1998 21.8001 61.1998 21.8001 61.0998 21.8001C61.0998 21.7001 61.0998 21.7001 61.1998 21.6001C61.0998 21.6001 60.9998 21.6001 60.9998 21.6001C60.9998 21.5001 61.0998 21.4001 61.0998 21.4001C60.9998 21.4001 60.8998 21.4001 60.7998 21.4001C60.7998 21.3001 60.8998 21.3001 60.8998 21.2001C60.7998 21.2001 60.6998 21.2001 60.6998 21.2001C60.6998 21.1001 60.6998 21.1001 60.7998 21.0001C60.6998 21.0001 60.5998 21.0001 60.5998 21.0001C60.5998 20.9001 60.6998 20.9001 60.6998 20.8001C60.5998 20.8001 60.4998 20.8001 60.4998 20.8001C60.4998 20.7001 60.5998 20.7001 60.5998 20.6001C60.4998 20.6001 60.3998 20.6001 60.2998 20.6001C60.2998 20.5001 60.3998 20.4001 60.3998 20.4001C60.2998 20.4001 60.1998 20.4001 60.0998 20.4001C60.0998 20.3001 60.1998 20.3001 60.1998 20.2001C60.0998 20.2001 59.9998 20.2001 59.9998 20.2001C59.9998 20.1001 60.0998 20.1001 60.0998 20.0001C59.9998 20.0001 59.8998 20.0001 59.8998 20.0001C59.8998 19.9001 59.9998 19.9001 59.9998 19.8001C59.8998 19.8001 59.7998 19.8001 59.6998 19.8001C59.6998 19.7001 59.7998 19.7001 59.7998 19.6001C59.6998 19.6001 59.6998 19.6001 59.5998 19.6001C59.5998 19.5001 59.6998 19.5001 59.6998 19.4001C59.5998 19.4001 59.4998 19.4001 59.3998 19.4001C59.3998 19.3001 59.4998 19.3001 59.4998 19.2001C59.3998 19.2001 59.2998 19.2001 59.1998 19.2001C59.1998 19.1001 59.2998 19.1001 59.2998 19.0001C59.1998 19.0001 59.0998 19.0001 59.0998 19.0001C59.0998 18.9001 59.1998 18.9001 59.1998 18.8001C59.0998 18.8001 58.9998 18.8001 58.9998 18.8001C58.9998 18.7001 59.0998 18.7001 59.0998 18.6001C58.9998 18.6001 58.9998 18.6001 58.8998 18.6001C58.8998 18.5001 58.9998 18.5001 58.9998 18.4001C58.8998 18.4001 58.8998 18.4001 58.7998 18.4001C58.7998 18.3001 58.8998 18.3001 58.8998 18.2001C58.7998 18.2001 58.7998 18.2001 58.6998 18.2001C58.7998 18.1001 58.7998 18.1001 58.8998 18.0001C58.7998 18.0001 58.6998 18.0001 58.6998 18.0001C58.7998 17.9001 58.7998 17.9001 58.8998 17.8001C58.7998 17.8001 58.7998 17.8001 58.6998 17.7001C58.7998 17.6001 58.7998 17.6001 58.8998 17.5001C58.7998 17.5001 58.7998 17.5001 58.6998 17.4001C58.7998 17.3001 58.7998 17.3001 58.8998 17.2001C58.7998 17.2001 58.7998 17.1001 58.6998 17.1001C58.7998 17.0001 58.7998 17.0001 58.8998 16.9001C58.7998 16.9001 58.7998 16.9001 58.6998 16.8001C58.7998 16.7001 58.7998 16.7001 58.8998 16.6001C58.7998 16.6001 58.7998 16.5001 58.6998 16.5001C58.7998 16.4001 58.7998 16.4001 58.8998 16.3001C58.7998 16.3001 58.7998 16.2001 58.6998 16.2001C58.6998 16.2001 58.7998 16.1001 58.8998 16.1001C58.7998 16.1001 58.7998 16.0001 58.6998 16.0001C58.7998 15.9001 58.8998 15.8001 58.6998 15.8001C58.6998 15.7001 58.7998 15.5001 58.7998 15.4001C58.7998 15.2001 58.9998 15.1001 59.1998 15.0001C59.3998 15.0001 59.5998 15.1001 59.6998 15.2001C60.2998 16.0001 60.9998 16.7001 61.5998 17.5001C63.7998 20.2001 65.9998 22.8001 68.1998 25.5001C68.6998 26.1001 69.1998 26.8001 69.6998 27.4001C69.6998 27.5001 69.7998 27.5001 69.8998 27.6001C69.8998 27.4001 69.8998 27.3001 69.8998 27.2001C69.8998 26.2001 69.9998 25.2001 69.9998 24.1001C70.0998 23.0001 69.6998 22.1001 68.9998 21.3001C68.5998 20.9001 68.2998 20.5001 67.8998 20.0001C67.1998 19.0001 66.8998 17.8001 66.8998 16.6001C66.9998 14.4001 67.6998 12.6001 69.0998 10.9001C69.2998 10.7001 69.4998 10.5001 69.7998 10.3001C70.1998 10.0001 70.5998 10.0001 71.0998 10.3001C71.4998 10.6001 71.7998 10.9001 72.0998 11.3001C73.2998 12.9001 73.8998 14.6001 73.9998 16.6001C73.9998 18.1001 73.5998 19.4001 72.5998 20.6001C72.2998 20.9001 71.9998 21.3001 71.6998 21.6001C71.1998 22.2001 70.8998 23.0001 70.8998 23.8001C70.8998 25.0001 70.9998 26.2001 70.9998 27.4001C70.9998 27.4001 70.9998 27.4001 70.9998 27.5001C70.9998 27.5001 71.0998 27.5001 71.0998 27.4001C71.4998 26.9001 71.9998 26.4001 72.3998 25.9001C72.9998 25.2001 73.2998 24.4001 73.4998 23.5001C73.7998 22.0001 74.3998 20.6001 75.4998 19.5001C77.0998 17.8001 78.7998 16.1001 80.3998 14.3001C80.4998 14.2001 80.5998 14.1001 80.6998 14.0001C80.6998 14.0001 80.6998 14.0001 80.7998 14.1001C80.6998 14.2001 80.6998 14.3001 80.5998 14.4001C79.7998 15.5001 78.9998 16.5001 78.1998 17.6001C77.7998 18.2001 77.2998 18.7001 76.8998 19.3001C76.7998 19.5001 76.5998 19.7001 76.4998 19.9001C76.3998 20.0001 76.3998 20.2001 76.5998 20.3001C76.6998 20.4001 76.8998 20.3001 76.8998 20.2001C77.2998 19.8001 77.6998 19.3001 78.0998 18.8001C79.0998 17.6001 80.1998 16.4001 81.1998 15.2001C81.2998 15.0001 81.4998 14.9001 81.6998 14.7001C81.6998 14.7001 81.7998 14.7001 81.7998 14.8001C81.6998 14.9001 81.6998 15.1001 81.5998 15.2001C81.2998 15.6001 80.9998 16.1001 80.6998 16.5001C79.6998 17.7001 78.6998 19.0001 77.7998 20.2001C77.6998 20.3001 77.5998 20.5001 77.4998 20.7001C77.3998 20.8001 77.3998 21.0001 77.5998 21.1001C77.7998 21.2001 77.8998 21.1001 77.9998 21.0001C78.4998 20.4001 78.8998 19.9001 79.3998 19.3001C80.2998 18.2001 81.1998 17.1001 82.1998 16.0001C82.2998 15.8001 82.4998 15.7001 82.6998 15.6001C82.6998 15.6001 82.7998 15.6001 82.8998 15.6001C82.8998 15.7001 82.8998 15.7001 82.8998 15.8001C82.7998 16.0001 82.6998 16.2001 82.5998 16.3001C81.3998 17.9001 80.1998 19.4001 78.9998 20.9001C78.8998 21.1001 78.6998 21.3001 78.5998 21.5001C78.4998 21.6001 78.4998 21.8001 78.6998 21.9001C78.8998 22.0001 78.8998 21.9001 78.9998 21.8001C79.5998 21.1001 80.2998 20.3001 80.8998 19.5001C81.6998 18.6001 82.4998 17.7001 83.1998 16.8001C83.2998 16.7001 83.4998 16.5001 83.5998 16.4001C83.5998 16.4001 83.6998 16.3001 83.7998 16.3001C82.2998 16.1001 82.1998 16.3001 82.0998 16.5001Z",
        fill="url(#paint1_linear)"
      )
      path(
        d="M35.9998 32.9001H1.2998",
        stroke="url(#paint2_linear)",
        stroke-width="1.2467",
        stroke-miterlimit="10",
        stroke-linecap="round",
        stroke-linejoin="round"
      )
      path(
        d="M36.3 29.1001H6.5",
        stroke="url(#paint3_linear)",
        stroke-width="1.2467",
        stroke-miterlimit="10",
        stroke-linecap="round",
        stroke-linejoin="round"
      )
      path(
        d="M101.7 32.9001H136.4",
        stroke="url(#paint4_linear)",
        stroke-width="1.2467",
        stroke-miterlimit="10",
        stroke-linecap="round",
        stroke-linejoin="round"
      )
      path(
        d="M101.4 29.1001H131.3",
        stroke="url(#paint5_linear)",
        stroke-width="1.2467",
        stroke-miterlimit="10",
        stroke-linecap="round",
        stroke-linejoin="round"
      )
      rect(x="-5", y="37.5", width="151", height="32", fill="white")
      path(
        d="M12.8 51.2001L11.6 52.3V58.5H9.5V52.3H3.4V58.5H1.2V52.3L0 51.2001L1.2 50.1V43.8H3.3V50.1H9.4V43.8H11.5V50.1L12.8 51.2001Z",
        fill="#22242E"
      )
      path(
        d="M25.4999 58.5H16.5999V52.3L15.3999 51.2001L16.5999 50.1V43.8H25.4999V45.9001H18.7999V50.1H23.9999V52.2001H18.7999V56.3H25.4999V58.5Z",
        fill="#22242E"
      )
      path(
        d="M40.4998 58.5H38.2998L36.8998 54.8H30.8998L29.4998 58.5H27.2998L29.5998 52.3L28.5998 51.2001L30.3998 50.3L32.7998 43.8H34.9998L40.4998 58.5ZM36.0998 52.7001L33.8998 46.7001L31.6998 52.7001H36.0998Z",
        fill="#22242E"
      )
      path(
        d="M52.4999 58.5H43.5999V52.3L42.3999 51.2001L43.5999 50.1V43.8H45.6999V56.3H52.3999V58.5H52.4999Z",
        fill="#22242E"
      )
      path(
        d="M65.0999 46H60.7999V50.2001L61.9999 51.3L60.7999 52.4001V58.5H58.6999V52.3L57.4999 51.2001L58.6999 50.1V45.9001H54.3999V43.8H65.0999V46Z",
        fill="#22242E"
      )
      path(
        d="M79.9998 51.2001L78.7998 52.3V58.5H76.6998V52.3H70.5998V58.5H68.4998V52.3L67.2998 51.2001L68.4998 50.1V43.8H70.5998V50.1H76.6998V43.8H78.7998V50.1L79.9998 51.2001Z",
        fill="#22242E"
      )
      path(
        d="M92.6998 46H86.0998V50.2001H91.2998V52.3H86.0998V58.5H83.9998V52.3L82.7998 51.2001L83.9998 50.1V43.8H92.6998V46Z",
        fill="#22242E"
      )
      path(
        d="M108.1 51.2001L106.9 52.3V56.1L104.2 58.5H99L96.2 56.1V52.3L95 51.2001L96.2 50.1V46.2001L99 43.8H104.2L106.9 46.2001V50.1L108.1 51.2001ZM104.8 55.1V47.3L103.3 46H99.9L98.4 47.3V55.1L99.9 56.4001H103.3L104.8 55.1Z",
        fill="#22242E"
      )
      path(
        d="M123 51.2001L121.8 52.3V56.1L119 58.5H113.8L111 56.1V52.3L109.8 51.2001L111 50.1V46.2001L113.8 43.8H119L121.7 46.2001V50.1L123 51.2001ZM119.6 55.1V47.3L118.1 46H114.7L113.2 47.3V55.1L114.7 56.4001H118.1L119.6 55.1Z",
        fill="#22242E"
      )
      path(
        d="M136.5 56.1L133.8 58.5H126.1V52.3L124.9 51.2001L126.1 50.1V43.8H133.8L136.5 46.2001V56.1ZM134.3 55.1V47.4001L132.8 46.1H128.2V56.5H132.8L134.3 55.1Z",
        fill="#22242E"
      )
    defs
      lineargradient#paint0_linear(
        x1="35.9764",
        y1="19.0773",
        x2="102.009",
        y2="19.0773",
        gradientunits="userSpaceOnUse"
      )
        stop(stop-color="#7DB85C")
        stop(offset="1", stop-color="#93CB76")
      lineargradient#paint1_linear(
        x1="39.7604",
        y1="33.5164",
        x2="98.6564",
        y2="33.5164",
        gradientunits="userSpaceOnUse"
      )
        stop(stop-color="#7DB85C")
        stop(offset="1", stop-color="#93CB76")
      lineargradient#paint2_linear(gradientunits="userSpaceOnUse")
        stop(stop-color="#93CB76")
        stop(offset="1", stop-color="#7DB85C")
      lineargradient#paint3_linear(gradientunits="userSpaceOnUse")
        stop(offset="0.03127", stop-color="#93CB76")
        stop(offset="1", stop-color="#7DB85C")
      lineargradient#paint4_linear(gradientunits="userSpaceOnUse")
        stop(stop-color="#93CB76")
        stop(offset="1", stop-color="#7DB85C")
      lineargradient#paint5_linear(gradientunits="userSpaceOnUse")
        stop(stop-color="#93CB76")
        stop(offset="1", stop-color="#7DB85C")
      clippath#clip0
        rect(
          width="137.1",
          height="62.5",
          fill="white",
          transform="translate(0 0.5)"
        )
mixin header-icon1
  svg(
    width="31",
    height="22",
    viewbox="0 0 31 22",
    fill="none",
    xmlns="http://www.w3.org/2000/svg"
  )
    path(
      d="M19.8978 20.721C18.4807 20.769 16.982 20.7933 15.443 20.7933C10.9943 20.7933 7.05818 20.5937 4.91337 20.2594C2.62175 19.9021 1.71123 18.8344 1.43341 16.1797C1.12967 13.2752 1.12967 8.72468 1.43341 5.82016C1.71123 3.16542 2.62175 2.09796 4.91337 1.74073C5.28545 1.68252 5.72256 1.62738 6.21293 1.57648C6.54448 1.54208 6.78531 1.24564 6.75091 0.914093C6.7165 0.582781 6.41959 0.341719 6.08852 0.376358C5.57764 0.429378 5.11979 0.487346 4.72745 0.548377C3.29804 0.771294 2.29609 1.2513 1.57456 2.05884C0.832052 2.88924 0.406011 4.0446 0.233286 5.6948C-0.0777618 8.66978 -0.0777618 13.3303 0.233286 16.3053C0.406011 17.9555 0.832052 19.1106 1.57456 19.9412C2.29609 20.7488 3.29804 21.2288 4.72745 21.4515C6.92999 21.795 10.9359 22 15.443 22C16.9954 22 18.508 21.9755 19.9386 21.927C20.2716 21.9157 20.5324 21.6367 20.5211 21.3037C20.5098 20.9708 20.2322 20.7099 19.8978 20.721Z",
      fill="#22242E"
    )
    path(
      d="M30.6529 5.69476C30.4802 4.04479 30.0542 2.88944 29.3119 2.0588C28.5901 1.25126 27.5882 0.771256 26.1588 0.548574C23.956 0.205008 19.9501 0 15.4432 0C13.8908 0 12.3784 0.0247424 10.9478 0.073049C10.6146 0.0843598 10.3538 0.36336 10.3651 0.696322C10.3764 1.02952 10.6542 1.29085 10.9886 1.27906C12.4055 1.23099 13.9044 1.20672 15.4434 1.20672C19.8916 1.20672 23.828 1.40631 25.9731 1.74069C28.2645 2.09816 29.1752 3.16561 29.4528 5.82036C29.7568 8.72488 29.7568 13.2754 29.4528 16.1799C29.1752 18.8346 28.2645 19.9021 25.9731 20.2596C25.601 20.3175 25.1636 20.3727 24.6733 20.4236C24.342 20.458 24.1011 20.7544 24.1355 21.0859C24.1678 21.3963 24.4296 21.627 24.7348 21.627C24.7558 21.627 24.7767 21.6258 24.7979 21.6237C25.3086 21.5707 25.7664 21.5129 26.1588 21.4517C27.5882 21.2287 28.5901 20.749 29.3119 19.9414C30.0542 19.1108 30.4802 17.9554 30.6529 16.3055C30.964 13.3305 30.964 8.66974 30.6529 5.69476Z",
      fill="#22242E"
    )
    path(
      d="M20.4153 10.4868L12.9487 5.87362C12.7626 5.75862 12.5288 5.75344 12.3377 5.85995C12.1468 5.96646 12.0283 6.16817 12.0283 6.38685V15.6129C12.0283 15.8316 12.1468 16.0333 12.3377 16.1398C12.4294 16.1907 12.5305 16.2162 12.6316 16.2162C12.7418 16.2162 12.8517 16.186 12.9487 16.1262L20.4153 11.5132C20.5932 11.4032 20.7016 11.209 20.7016 11C20.7016 10.7908 20.5932 10.5966 20.4153 10.4868ZM13.235 14.5311V7.46891L18.9503 11L13.235 14.5311Z",
      fill="#67AB53"
    )
    path(
      d="M8.55657 1.38955C8.57 1.38955 8.58367 1.38908 8.59733 1.38838C8.92982 1.36622 9.18125 1.07874 9.1591 0.746251C9.13695 0.41376 8.849 0.161859 8.51698 0.184245H8.51651C8.18402 0.206395 7.93282 0.493878 7.95497 0.826369C7.97618 1.14519 8.24151 1.38955 8.55657 1.38955Z",
      fill="#67AB53"
    )
    path(
      d="M22.2889 20.6118C21.9565 20.6337 21.7048 20.9212 21.7269 21.2537C21.7482 21.5725 22.0135 21.8169 22.3283 21.8169C22.342 21.8169 22.3554 21.8164 22.3691 21.8157H22.3695C22.702 21.7935 22.9532 21.5061 22.9311 21.1736C22.9089 20.8411 22.6219 20.5899 22.2889 20.6118Z",
      fill="#67AB53"
    )
mixin header-icon2
  svg(
    width="28",
    height="32",
    viewbox="0 0 28 32",
    fill="none",
    xmlns="http://www.w3.org/2000/svg"
  )
    path(
      d="M24.239 10.6626L25.5845 9.31689C26.3154 8.58618 26.3154 7.39673 25.5845 6.66553C24.8535 5.93457 23.6641 5.93457 22.9331 6.66553L21.4966 8.10205C19.998 7.05835 18.2898 6.33594 16.5 5.98926V4.125H17.75C18.0952 4.125 18.375 3.84521 18.375 3.5V1.875C18.375 0.841064 17.5339 0 16.5 0H11.5C10.4661 0 9.625 0.841064 9.625 1.875V3.5C9.625 3.84521 9.90479 4.125 10.25 4.125H11.5V5.98926C9.71045 6.33569 8.00195 7.05835 6.50342 8.10205L5.06689 6.66553C4.33618 5.93457 3.14673 5.93457 2.41553 6.66553C1.68457 7.39648 1.68457 8.58594 2.41553 9.31689L3.76099 10.6626C1.896 12.9856 0.875 15.8792 0.875 18.875C0.875 26.1121 6.76294 32 14 32C21.2371 32 27.125 26.1121 27.125 18.875C27.125 15.8792 26.104 12.9856 24.239 10.6626ZM23.8169 7.54932C24.0608 7.30566 24.457 7.30591 24.7007 7.54932C24.9441 7.79297 24.9441 8.18945 24.7007 8.43311L23.4092 9.72437C23.1182 9.42554 22.813 9.14062 22.4956 8.87085L23.8169 7.54932ZM10.875 1.875C10.875 1.53027 11.1553 1.25 11.5 1.25H16.5C16.8447 1.25 17.125 1.53027 17.125 1.875V2.875H10.875V1.875ZM15.25 4.125V5.80908C14.4216 5.73145 13.5786 5.73145 12.75 5.80908V4.125H15.25ZM3.29932 7.54932C3.54297 7.30591 3.93945 7.30566 4.18311 7.54932L5.50439 8.87085C5.18701 9.14062 4.88184 9.42554 4.59082 9.72437L3.29932 8.43311C3.05591 8.18945 3.05591 7.79297 3.29932 7.54932ZM14 30.75C7.45215 30.75 2.125 25.4229 2.125 18.875C2.125 15.9866 3.17358 13.2036 5.07739 11.0383C5.60181 10.4419 6.18701 9.89697 6.81665 9.41797C8.39453 8.21729 10.2622 7.427 12.2178 7.13232C12.803 7.04468 13.4026 7 14 7C14.5974 7 15.197 7.04468 15.782 7.13232C17.7378 7.427 19.6055 8.21729 21.1836 9.41797C21.813 9.89697 22.3982 10.4419 22.9226 11.0383C24.8264 13.2036 25.875 15.9866 25.875 18.875C25.875 25.4229 20.5479 30.75 14 30.75Z",
      fill="#22242E"
    )
    path(
      d="M14 20.75C15.0339 20.75 15.875 19.9089 15.875 18.875C15.875 18.0603 15.3525 17.3655 14.625 17.1074V12.625C14.625 12.2798 14.3452 12 14 12C13.6548 12 13.375 12.2798 13.375 12.625V17.1074C12.6475 17.3655 12.125 18.0603 12.125 18.875C12.125 19.9089 12.9661 20.75 14 20.75ZM14 18.25C14.3447 18.25 14.625 18.5303 14.625 18.875C14.625 19.2197 14.3447 19.5 14 19.5C13.6553 19.5 13.375 19.2197 13.375 18.875C13.375 18.5303 13.6553 18.25 14 18.25Z",
      fill="#67AB53"
    )
    path(
      d="M20.658 12.2812C20.6482 12.2697 20.6384 12.2583 20.6274 12.2475C20.6157 12.2356 20.6033 12.2248 20.5908 12.2141C19.4893 11.1242 18.1284 10.3178 16.6516 9.8818C16.3203 9.78414 15.9729 9.97311 15.8752 10.3042C15.7776 10.6352 15.9666 10.9829 16.2976 11.0805C17.3918 11.4038 18.4126 11.9624 19.2827 12.7082L18.8611 13.1298C18.6172 13.374 18.6172 13.7697 18.8611 14.0139C18.9832 14.1359 19.1431 14.197 19.3032 14.197C19.4631 14.197 19.623 14.1359 19.7451 14.0139L20.1677 13.5913C21.2986 14.9062 21.9702 16.5249 22.1011 18.25H21.5C21.1548 18.25 20.875 18.53 20.875 18.875C20.875 19.2202 21.1548 19.5 21.5 19.5H22.1011C21.9702 21.2253 21.2986 22.8437 20.1677 24.1587L19.7451 23.736C19.501 23.4922 19.1052 23.4922 18.8611 23.736C18.6169 23.9802 18.6169 24.3759 18.8611 24.6201L19.2837 25.0427C17.9688 26.1735 16.3501 26.8452 14.625 26.9763V26.375C14.625 26.0297 14.3452 25.75 14 25.75C13.6548 25.75 13.375 26.0297 13.375 26.375V26.976C11.6499 26.8452 10.0312 26.1735 8.71631 25.0427L9.13892 24.6201C9.38306 24.3759 9.38306 23.9802 9.13892 23.736C8.89478 23.4922 8.49902 23.4922 8.25488 23.736L7.83228 24.1587C6.70142 22.8437 6.02979 21.2251 5.89893 19.5H6.5C6.84521 19.5 7.125 19.2202 7.125 18.875C7.125 18.5297 6.84521 18.25 6.5 18.25H5.89893C6.02979 16.5249 6.70142 14.9062 7.83228 13.5913L8.25488 14.0139C8.37695 14.1359 8.53687 14.197 8.69678 14.197C8.85693 14.197 9.01685 14.1359 9.13892 14.0139C9.38281 13.7697 9.38281 13.374 9.13892 13.1298L8.71729 12.7082C9.5874 11.9621 10.6082 11.4038 11.7024 11.0805C12.0334 10.9829 12.2224 10.6352 12.1248 10.3042C12.0271 9.97311 11.6799 9.78439 11.3484 9.8818C9.87183 10.3176 8.51147 11.1237 7.41016 12.2131C7.39722 12.2241 7.38452 12.2353 7.37256 12.2473C7.36182 12.258 7.35229 12.2693 7.34253 12.2805C5.58984 14.0495 4.625 16.3894 4.625 18.875C4.625 21.3603 5.58984 23.6999 7.34204 25.4687C7.35181 25.4802 7.36157 25.4917 7.37256 25.5024C7.3833 25.5134 7.39453 25.5229 7.40576 25.5327C9.1748 27.2851 11.5144 28.25 14 28.25C16.4854 28.25 18.825 27.2854 20.5938 25.5332C20.6052 25.5232 20.6167 25.5134 20.6274 25.5024C20.6382 25.4919 20.6477 25.4804 20.6575 25.4694C22.4102 23.7004 23.375 21.3606 23.375 18.875C23.375 16.3896 22.4102 14.05 20.658 12.2812Z",
      fill="#22242E"
    )
    path(
      d="M14 10.75C14.345 10.75 14.625 10.47 14.625 10.125C14.625 9.78003 14.345 9.5 14 9.5C13.655 9.5 13.375 9.78003 13.375 10.125C13.375 10.47 13.655 10.75 14 10.75Z",
      fill="#67AB53"
    )

mixin header-icon3
  svg(
    width="32",
    height="32",
    viewbox="0 0 32 32",
    fill="none",
    xmlns="http://www.w3.org/2000/svg"
  )
    path(
      d="M18.3372 9.45056H10.4438C10.1844 9.45056 9.97412 9.66087 9.97412 9.92025C9.97412 10.1796 10.1844 10.3899 10.4438 10.3899H18.3372C18.5967 10.3899 18.8069 10.1796 18.8069 9.92025C18.8069 9.66081 18.5967 9.45056 18.3372 9.45056Z",
      fill="black"
    )
    path(
      d="M10.4438 12.0752H14.8803C15.1397 12.0752 15.35 11.8649 15.35 11.6056C15.35 11.3462 15.1397 11.1359 14.8803 11.1359H10.4438C10.1844 11.1359 9.97412 11.3462 9.97412 11.6056C9.97418 11.8649 10.1844 12.0752 10.4438 12.0752Z",
      fill="black"
    )
    path(
      d="M8.07985 9.25876L6.3511 11.0314L5.60322 10.3042C5.41728 10.1233 5.11991 10.1276 4.9391 10.3134C4.75828 10.4994 4.76241 10.7968 4.94841 10.9776L6.03247 12.0319C6.21572 12.2102 6.51766 12.206 6.6961 12.0231L8.75228 9.91457C8.93341 9.72889 8.92972 9.43151 8.74397 9.25039C8.5581 9.06926 8.26091 9.07314 8.07985 9.25876Z",
      fill="#67AB53"
    )
    path(
      d="M18.3372 14.2339H10.4438C10.1844 14.2339 9.97412 14.4441 9.97412 14.7036C9.97412 14.9629 10.1844 15.1733 10.4438 15.1733H18.3372C18.5967 15.1733 18.8069 14.9629 18.8069 14.7036C18.8069 14.4442 18.5967 14.2339 18.3372 14.2339Z",
      fill="black"
    )
    path(
      d="M14.8803 15.9191H10.4438C10.1844 15.9191 9.97412 16.1294 9.97412 16.3888C9.97412 16.6483 10.1844 16.8585 10.4438 16.8585H14.8803C15.1397 16.8585 15.35 16.6482 15.35 16.3888C15.35 16.1294 15.1397 15.9191 14.8803 15.9191Z",
      fill="black"
    )
    path(
      d="M8.07985 14.0422L6.3511 15.8149L5.60322 15.0877C5.41716 14.9068 5.11991 14.911 4.9391 15.097C4.75828 15.2829 4.76241 15.5803 4.94841 15.7611L6.03247 16.8153C6.21572 16.9936 6.51766 16.9894 6.6961 16.8065L8.75228 14.698C8.93341 14.5124 8.92972 14.215 8.74397 14.0339C8.55822 13.8527 8.26091 13.8565 8.07985 14.0422Z",
      fill="#67AB53"
    )
    path(
      d="M8.07985 18.8254L6.3511 20.5981L5.60322 19.8709C5.41728 19.69 5.11991 19.6943 4.9391 19.8802C4.75828 20.0661 4.76241 20.3635 4.94841 20.5443L6.03247 21.5985C6.21572 21.7768 6.51766 21.7726 6.6961 21.5897L8.75228 19.4813C8.93341 19.2956 8.92972 18.9982 8.74397 18.8171C8.55822 18.636 8.26091 18.6398 8.07985 18.8254Z",
      fill="#67AB53"
    )
    path(
      d="M8.07985 23.6089L6.3511 25.3816L5.60322 24.6543C5.41728 24.4735 5.11991 24.4777 4.9391 24.6636C4.75828 24.8495 4.76241 25.1469 4.94841 25.3278L6.03247 26.382C6.21572 26.5603 6.51766 26.5562 6.6961 26.3732L8.75228 24.2648C8.93341 24.0791 8.92972 23.7817 8.74397 23.6006C8.55822 23.4193 8.26091 23.4232 8.07985 23.6089Z",
      fill="#67AB53"
    )
    path(
      d="M27.4632 16.3727C28.4566 14.878 28.2331 12.8213 28.2218 12.7241C28.1967 12.5076 28.0259 12.3367 27.8094 12.3116C27.7001 12.299 25.116 12.0181 23.6361 13.498C23.5559 13.5782 23.4821 13.6626 23.412 13.7487V10.497C23.412 10.2376 23.2017 10.0273 22.9423 10.0273C22.6828 10.0273 22.4726 10.2376 22.4726 10.497V14.9776C22.1592 14.4817 21.7414 13.9843 21.1854 13.5324V5.31775C21.1854 5.05837 20.9751 4.84806 20.7157 4.84806H17.4408V3.53481H21.7257C22.1375 3.53481 22.4725 3.86987 22.4725 4.28162V8.61831C22.4725 8.87769 22.6828 9.088 22.9422 9.088C23.2016 9.088 23.4119 8.87769 23.4119 8.61831V4.28169C23.4119 3.35194 22.6555 2.59556 21.7258 2.59556H17.349C17.1611 2.12794 16.7038 1.79644 16.1698 1.79644H14.6153V1.10556C14.6155 0.495937 14.1195 0 13.5099 0H10.5544C9.94478 0 9.44878 0.495937 9.44878 1.10556V1.79638H7.8944C7.36034 1.79638 6.90309 2.12781 6.71528 2.5955H2.33847C1.40872 2.5955 0.652344 3.35187 0.652344 4.28162V30.3014C0.652344 31.2311 1.40878 31.9875 2.33847 31.9875H20.7503C21.5432 32.0531 22.2938 31.8164 22.9422 31.2876C23.5183 31.7579 24.1753 31.9999 24.8766 31.9999C25.013 31.9999 25.1511 31.9907 25.2905 31.9723C26.8626 31.7647 28.4413 30.4209 29.6216 28.2856C29.7471 28.0586 29.6649 27.7728 29.4378 27.6473C29.211 27.5219 28.9251 27.6041 28.7996 27.8311C27.7801 29.6754 26.4224 30.8754 25.1676 31.0411C24.4638 31.1338 23.8293 30.8925 23.2803 30.3236C23.0983 30.1351 22.7865 30.135 22.6044 30.3236C21.906 31.0474 21.0794 31.2406 20.1471 30.8974C19.0834 30.5058 17.9881 29.4254 17.1421 27.9331C16.2067 26.2833 15.6193 24.2132 15.488 22.1041C15.4013 20.7116 15.7915 19.5436 16.6476 18.6326C17.7916 17.4152 19.7844 16.6686 22.1875 16.5397C22.2314 16.6674 22.2723 16.797 22.3075 16.9304C22.4625 17.5179 22.4971 18.0414 22.4975 18.3889C21.6263 18.2686 21.0577 17.8363 21.0527 17.8324C20.8492 17.6716 20.5538 17.7061 20.393 17.9096C20.2322 18.1131 20.2667 18.4084 20.4703 18.5693C20.5111 18.6015 21.4863 19.3591 22.9419 19.3592C22.9422 19.3592 22.9426 19.3592 22.9429 19.3592C22.9437 19.3592 22.9445 19.3591 22.9453 19.3591C24.3995 19.3581 25.3736 18.6014 25.4143 18.5692C25.6475 18.3849 25.6476 18.0219 25.4164 17.8359C25.893 17.6866 26.3711 17.4601 26.787 17.1207C29.9486 18.2346 30.5005 20.4336 30.3966 22.104C30.3076 23.5322 30.0229 24.9046 29.5502 26.1829C29.4649 26.4137 29.5779 26.6783 29.8034 26.7764C30.0475 26.8827 30.339 26.7581 30.4312 26.5087C30.9357 25.1444 31.2395 23.682 31.3341 22.1623C31.5012 19.4769 30.1316 17.4424 27.4632 16.3727ZM7.56278 3.06737C7.56278 2.8845 7.71159 2.73575 7.8944 2.73575H9.91847C10.1779 2.73575 10.3882 2.5255 10.3882 2.26606V1.10556C10.3882 1.01388 10.4628 0.939313 10.5544 0.939313H13.5099C13.6016 0.939313 13.6762 1.01388 13.6762 1.10556V2.26606C13.6762 2.52544 13.8864 2.73575 14.1458 2.73575H16.17C16.3528 2.73575 16.5016 2.8845 16.5016 3.06737V5.27287C16.5016 5.45575 16.3528 5.60456 16.17 5.60456H7.8944C7.71153 5.60456 7.56278 5.45575 7.56278 5.27287V3.06737ZM15.9631 17.9894C15.6641 18.3076 15.4134 18.6511 15.2081 19.0173H10.4439C10.1845 19.0173 9.97422 19.2275 9.97422 19.4869C9.97422 19.7463 10.1845 19.9566 10.4439 19.9566H14.8005C14.7238 20.1974 14.6628 20.4458 14.6197 20.7026H10.4439C10.1845 20.7026 9.97422 20.9129 9.97422 21.1723C9.97422 21.4316 10.1845 21.6419 10.4439 21.6419H14.5387C14.5366 21.8127 14.5396 21.9859 14.5506 22.1626C14.5851 22.7172 14.648 23.2642 14.7373 23.8006H10.4439C10.1845 23.8006 9.97422 24.0109 9.97422 24.2703C9.97422 24.5297 10.1845 24.74 10.4439 24.74H14.9241C14.9823 24.9917 15.0461 25.2406 15.1164 25.4859H10.4439C10.1845 25.4859 9.97422 25.6963 9.97422 25.9556C9.97422 26.215 10.1845 26.4253 10.4439 26.4253H15.4221C15.6738 27.1182 15.9748 27.779 16.325 28.3966C16.4024 28.5331 16.4817 28.6659 16.5625 28.7958H3.81809V18.9656C3.81809 18.7062 3.60784 18.4959 3.34841 18.4959C3.08897 18.4959 2.87872 18.7062 2.87872 18.9656V29.2653C2.87872 29.5247 3.08897 29.735 3.34841 29.735H17.22C17.6316 30.2553 18.0719 30.6969 18.5293 31.0483H2.33847C1.92666 31.0483 1.59166 30.7132 1.59166 30.3014V4.28169C1.59166 3.86988 1.92666 3.53487 2.33847 3.53487H6.6234V4.84812H3.34841C3.08897 4.84812 2.87872 5.05837 2.87872 5.31781V17.0869C2.87872 17.3463 3.08897 17.5566 3.34841 17.5566C3.60784 17.5566 3.81809 17.3463 3.81809 17.0869V5.78744H6.73328C6.93128 6.23238 7.37678 6.54388 7.8944 6.54388H16.1699C16.6875 6.54388 17.133 6.23244 17.331 5.78744H20.2461V12.9073C20.0401 12.8404 19.8086 12.9233 19.6955 13.118C19.5652 13.3423 19.6413 13.6297 19.8656 13.7601C19.9976 13.8368 20.1238 13.9181 20.2461 14.0022V15.8391C18.442 16.2041 16.945 16.9445 15.9631 17.9894ZM21.1855 15.6869V14.8224C21.4085 15.0708 21.604 15.3391 21.7716 15.6271C21.5735 15.6429 21.3781 15.663 21.1855 15.6869ZM23.4372 18.3819C23.4371 18.2993 23.4353 18.2093 23.431 18.1125C23.4475 18.1126 23.463 18.1129 23.48 18.1129C23.7546 18.1129 24.1013 18.0974 24.4805 18.0439C24.2366 18.1686 23.8773 18.3143 23.4372 18.3819ZM23.3624 17.1712C23.3505 16.4766 23.4391 15.0236 24.3005 14.1622C25.1618 13.3008 26.6168 13.2123 27.3093 13.2242C27.3212 13.9188 27.2326 15.3718 26.3713 16.2331C25.5099 17.0945 24.0576 17.1828 23.3624 17.1712Z",
      fill="black"
    )
mixin header-icon4
  svg(
    width="34",
    height="34",
    viewbox="0 0 34 34",
    fill="none",
    xmlns="http://www.w3.org/2000/svg"
  )
    path(
      d="M31.5 32.5H26.5",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M29.2275 32.4238L27 27.9998",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M25 6L29.5 4.5",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M30 7L25.5 19.875",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M26.5 10L23.5 18.7935",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M32.5 1.5L31.849 4.7555C31.634 5.831 30.849 6.7035 29.802 7.031L23.5 9",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M9.00002 13C4.73752 13 1.30602 16.5555 1.50852 20.8625C1.69852 24.8965 5.17352 28 9.21152 28H24.881C26.88 28 28.5 26.38 28.5 24.3815C28.5 23.1855 27.9105 22.0695 26.924 21.394C23.265 18.889 14.1175 13 9.00002 13Z",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M3 32.5H8",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M5.45264 32.4238L7.50014 27.9998",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M10.5 7.5V13",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M8 12.5V9",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M13.4998 7H4.9998L4.3553 5.7115C3.8003 4.601 4.7583 3.335 5.9778 3.5675L11.5368 4.626C12.6758 4.8435 13.4998 5.839 13.4998 6.9985V7Z",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M9 20.5L13.5 24",
      stroke="#66aa52",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M11.5 24H15",
      stroke="#22242E",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
    path(
      d="M9 24C7.067 24 5.5 22.433 5.5 20.5C5.5 18.567 7.067 17 9 17C10.933 17 12.5 18.567 12.5 20.5",
      stroke="#66aa52",
      stroke-miterlimit="10",
      stroke-linecap="round",
      stroke-linejoin="round"
    )
