section.calculator.section--padding
  .container
    .breadcrumbs
      ul.breadcrumbs__list
        -
          let newsBreadcrumbsList = [
              {
                  href: 'index.html',
                  text: 'Главная'
              },
              {
                  href: 'healthy-foods.html',
                  text: 'Калькулятор для похудения'
              }
          ]
        each breadcrumbsItem in newsBreadcrumbsList
          include ../../components/breadcrumbs
    .calculator__container
      .calculator__wrap
        h1.title Калькулятор для похудения
        p.calculator__subtitle Рекомендуем попробовать наш новый калькулятор для похудения, который поможет выполнить расчет ккал для снижения веса в зависимости от ряда условий.
        .calculator__inner
          -
            let calculatorList = [
                {
                    title: 'Возраст :',
                    formTitle: 'Пол :',
                    formList: [
                        {
                            inputId: 'male',
                            inputName: 'gender',
                            value: 'male',
                            label: 'male',
                            labelText: 'Мужской'
                        },
                        {
                            inputId: 'female',
                            inputName: 'gender',
                            value: 'female',
                            label: 'female',
                            labelText: 'Женский'
                        }
                    ]
                },
                {
                    title: 'Вес :',
                    formTitle: 'Измерять в :',
                    formList: [
                        {
                            inputId: 'kilo',
                            inputName: 'weight',
                            value: 'kilo',
                            label: 'kilo',
                            labelText: 'В киллограммах'
                        },
                        {
                            inputId: 'lb',
                            inputName: 'weight',
                            value: 'lb',
                            label: 'lb',
                            labelText: 'В фунтах'
                        }
                    ]
                },
            ]
          each calculatorItem in calculatorList
            .calculator__info.calculator__info--margin
              .calculator__info-wrap
                p.calculator__title= calculatorItem.title
                input.calculator__info-item(type="text")
              form.calculator__form
                p.calculator__title= calculatorItem.formTitle
                .calculator__form-wrap
                  each formItem in calculatorItem.formList
                    input.calculator__form-item(
                      id=formItem.inputId,
                      type="radio",
                      name=formItem.inputName,
                      value=formItem.value
                    )
                    label.calculator__form-label(for=formItem.label)= formItem.labelText
          .calculator__info.calculator__info--margin
            .calculator__info-wrapper
              p.calculator__title Рост :
              input.calculator__info-item(type="text")
              span.calculator__info-span см.
            .calculator__training
              fieldset
                legend.calculator__title Физическая активность
                form.calculator__training-form
                  input.calculator__training-item(list="training")
                  datalist#training
                    -
                      let dataList = [
                          'Не занимаюсь',
                          '1 раз в неделю',
                          '2 раза в неделю',
                          '3 раза в неделю',
                          '4 раза в неделю',
                          '5 раз в неделю'
                      ]
                    each dataItem in dataList
                      option= dataItem
          .calculator__result
            .calculator__result-wrap
              -
                let resultList = [
                    {
                        resultTitle: 'Результат в :',
                        resultItem: [
                            {
                                resultId: 'kilocalories',
                                resultName: 'kilocalories',
                                resultValue: 'weight',
                                labelFor: 'kilocalories',
                                labelText: 'Ккал'
                            },
                            {
                                resultId: 'Kilojoules',
                                resultName: 'Kilojoules',
                                resultValue: 'weight',
                                labelFor: 'Kilojoules',
                                labelText: 'Килоджоулях'
                            },
                
                        ]
                    },
                    {
                        resultTitle: 'Физическая активность',
                        resultItem: [
                            {
                                resultId: 'miffline',
                                resultName: 'miffline',
                                resultValue: 'weight',
                                labelFor: 'miffline',
                                labelText: 'Миффлина - Сан Жеора'
                            },
                            {
                                resultId: 'harris',
                                resultName: 'harris',
                                resultValue: 'weight',
                                labelFor: 'harris',
                                labelText: 'Харриса-Бенедикта'
                            },
                
                        ]
                    }
                ]
              each resultItem in resultList
                fieldset
                  legend.calculator__title= resultItem.resultTitle
                  form.calculator__result-inner
                    each formItems in resultItem.resultItem
                      .calculator__result-form
                        input.calculator__result-item(
                          id=formItems.resultId,
                          type="radio",
                          name=formItems.resultName,
                          value=formItems.resultValue
                        )
                        label(for=formItems.labelFor)= formItems.labelText
      .calculator__wrapper
        table.calculator__table
          tr
            -
              let titleList = [
                  '',
                  'Быстрая потеря веса',
                  'Потеря веса',
                  'Не изменяя вес'
              ]
            each titleItem in titleList
              th.calculator__table-title= titleItem
          -
            let tableList = [
                {
                    tableItem: [
                        'Понедельник',
                        'Пн',
                        '1789',
                        '2386',
                        '2982',
                    ]
                },
                {
                    tableItem: [
                        'Вторник',
                        'Вт',
                        '1585',
                        '1909',
                        '2386',
                    ]
                },
                {
                    tableItem: [
                        'Среда',
                        'Ср',
                        '2147',
                        '2863',
                        '3578',
                    ]
                },
                {
                    tableItem: [
                        'Четверг',
                        'Чт',
                        '2147',
                        '2863',
                        '3578',
                    ]
                },
                {
                    tableItem: [
                        'Пятница',
                        'Пт',
                        '2147',
                        '2863',
                        '3578',
                    ]
                },
                {
                    tableItem: [
                        'Суббота',
                        'Сб',
                        '2147',
                        '2863',
                        '3578',
                    ]
                },
                {
                    tableItem: [
                        'Воскресенье',
                        'Вс',
                        '2147',
                        '2863',
                        '3578',
                    ]
                }
            ]
          each tableItem in tableList
            tr.calculator__table-list
              each rowItem in tableItem.tableItem
                td.calculator__table-item= rowItem
        button.calculator__table-button.button Вычислить
