section.recipes.section--padding
  .container
    .breadcrumbs
      ul.breadcrumbs__list
        -
          let newsBreadcrumbsList = [
              {
                  href: 'index.html',
                  text: 'Главная'
              },
              {
                  href: 'recipes.html',
                  text: 'Рецепты здоровых блюд'
              }
          ]
        each breadcrumbsItem in newsBreadcrumbsList
          include ../../components/breadcrumbs
    .grid-container
      .news__content
        h2.title Новости
        .slider
          -
            let sliderBoxList = [
                {
                    sliderBoxItem: [
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        }
                    ],
                },
                {
                    sliderBoxItem: [
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        }
                    ],
                },
                {
                    sliderBoxItem: [
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        }
                    ],
                },
                {
                    sliderBoxItem: [
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        }
                    ],
                },
                {
                    sliderBoxItem: [
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        }
                    ],
                },
                {
                    sliderBoxItem: [
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        }
                    ],
                },
                {
                    sliderBoxItem: [
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        }
                    ],
                },
                {
                    sliderBoxItem: [
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        }
                    ],
                },
                {
                    sliderBoxItem: [
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        }
                    ],
                },
                {
                    sliderBoxItem: [
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        },
                        {
                            src: './img/main-page/main-box.jpg',
                            atl: 'baked piece of meat with vegetables',
                            link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                            date: '01.05.2020',
                            author: 'Евгений Третяк'
                        }
                    ],
                }
            ]
          each sliderBoxItem in sliderBoxList
            .slider-box
              .grid-container__inner
                each articleItem in sliderBoxItem.sliderBoxItem
                  include ../../components/article
      .sidebar__container
        aside.recipes__sidebar
          h3.recipes__title Темы
          ul.Accordion
            -
              let accordionList = [
                  {
                      label: 'radios-menu1',
                      labelText: 'Новые статьи',
                      id: 'radios-menu1',
                      sliderBoxItem: [
                          {
                              href: '#',
                              linkText: 'Буддизм',
                          },
                          {
                              href: '#',
                              linkText: 'Здоровое питание',
                          },
                          {
                              href: '#',
                              linkText: 'Реинкарнация',
                          },
                          {
                              href: '#',
                              linkText: 'Йога',
                          },
                          {
                              href: '#',
                              linkText: 'Здоровье',
                          },
                          {
                              href: '#',
                              linkText: 'Разное',
                          }
                      ]
                  },
                  {
                      label: 'radios-menu2',
                      labelText: 'Здоровый образ жизни',
                      id: 'radios-menu2',
                      sliderBoxItem: [
                          {
                              href: '#',
                              linkText: 'Буддизм',
                          },
                          {
                              href: '#',
                              linkText: 'Здоровое питание',
                          },
                          {
                              href: '#',
                              linkText: 'Йога',
                          },
                          {
                              href: '#',
                              linkText: 'Здоровье',
                          }
                      ]
                  },
                  {
                      label: 'radios-menu3',
                      labelText: 'Буддизм',
                      id: 'radios-menu3',
                      sliderBoxItem: [
                          {
                              href: '#',
                              linkText: 'Буддизм',
                          },
                          {
                              href: '#',
                              linkText: 'Здоровое питание',
                          },
                          {
                              href: '#',
                              linkText: 'Реинкарнация',
                          },
                          {
                              href: '#',
                              linkText: 'Йога',
                          },
                          {
                              href: '#',
                              linkText: 'Отдых',
                          }
                      ]
                  },
                  {
                      label: 'radios-menu4',
                      labelText: 'Книги',
                      id: 'radios-menu4',
                      sliderBoxItem: [
                          {
                              href: '#',
                              linkText: 'Буддизм',
                          },
                          {
                              href: '#',
                              linkText: 'Здоровое питание',
                          }
                      ]
                  },
                  {
                      label: 'radios-menu5',
                      labelText: 'Разное',
                      id: 'radios-menu5',
                      sliderBoxItem: [
                          {
                              href: '#',
                              linkText: 'Буддизм',
                          },
                          {
                              href: '#',
                              linkText: 'Здоровое питание',
                          },
                          {
                              href: '#',
                              linkText: 'Йога',
                          }
                      ]
                  }
              ]
            each accordionItem in accordionList
              li.accordion__item
                label.accordion__item-label(for=accordionItem.label)= accordionItem.labelText
                input.accordion__item-input(
                  id=accordionItem.id,
                  type="radio",
                  name="menu"
                )
                ul.accordion__list
                  each accordionSubItem in accordionItem.sliderBoxItem
                    li.accordion__list-item
                      a.accordion__list-link(href=accordionSubItem.href)= accordionSubItem.linkText
